h1{color:wheat}
h2{color:green}
h3{color:yellow}

body {
    font-family: 'Koulen';
    background-color: wheat;
}

.botones li {

    display: inline;
    margin-right: 30px;
    border: 4px solid salmon;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px 2px coral;
    padding: 10px;
}
 .botones li a {
    color: black;
    text-decoration: none;
}


header {
    text-align: center;
}

.titulo{
    background-color:red;
    padding: 5px;
    font-size: 50px;
    text-align: center;
}

.datos-personales{ 
    background-color: red; 
    padding: 5px;
    font-size: 2opx;
}

.datos-personales a{
    color: white;
    text-decoration: none;
}

.datos-academicos{
    background-color: red; 
    padding: 5px;
    font-size: 2opx;
}

.datos-academicos a{
    color: white;
    text-decoration: none;
}

.experiencia-laboral{
    background-color: red; 
    padding: 5px;
    font-size: 2opx;
}

.experiencia-laboral a{
    color: white;
    text-decoration: none;
}

.mis-hobbies{
    background-color: red; 
    padding: 5px;
    font-size: 2opx;
}

.mis-hobbies a{
    color: white;
    text-decoration: none;
}

.formulario{
    background-color: red;
    padding: 5px;
    font-size: 20px;
}

.formulario a{
    color: white;
    text-decoration: none;

}
