h1{color:wheat}
h2{color:green}
h3{color:yellow}
header ul li {
  color:blueviolet;
  display: inline;
  margin-right: 6px;
}

{  margin-right: 0px;
}

.titulo{
    background-color:red;
    padding: 5px;
    font-size: 50px;

}

.datos-personales{ 
    background-color: brown; 
    padding: 5px;
    font-size: 2opx;
}

.datos-academicos{
    background-color: brown; 
    padding: 5px;
    font-size: 2opx;
}

.experiencia-laboral{
    background-color: brown; 
    padding: 5px;
    font-size: 2opx;
}

.mis-hobbies{
    background-color: brown; 
    padding: 5px;
    font-size: 2opx;
}

.formulario{
    background-color: brown;
    padding: 5px;
    font-size: 20px;
}

